@media print {
  #root > header,
  .breadcrumb,
  .table button,
  #activities-cards {
    display: none !important;
  }

  section {
    page-break-inside: avoid !important;
  }

  table {
    width: 100vw !important;
    table-layout: fixed !important;
    white-space: wrap !important;
  }

  .table-responsive {
    overflow: unset;
  }

  .container {
    margin: 0;
  }
}
